@import '../functions';

section#about-section-2 {
	padding:60px 0px;
	padding-top: 30px;
	border-bottom: 2px solid #000;
}

#about-section-2 img {
	margin-top: 30px;
	width:100%;
}

section#about-section-3 {
	padding:30px 0px;
}

#about-section-3 h1 {
	margin-top: 0px;
	margin-bottom: 30px;
}

section#about-section-4 {
	padding:60px 0px;
	background: url(image_path('index/bg-index-section-4.jpg')) #000 no-repeat top center fixed;
	background-size: cover;
	.content {
		font-size: em(22);
		padding-top: 50px;
		min-height: 200px;
	}
}

section#about-section-5 {
	padding:60px 0px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

#about-section-5 h1 {
	margin-top: 0px;
	margin-bottom: 30px;
}

#about-section-5 .col-md-4 {
	margin-bottom: 20px;
}